@import url(https://fonts.googleapis.com/css?family=Passion+One);


body{
  font-family: 'Passion One';
  font-style: normal;
  text-align: center;
  background-color: rgb(34, 34, 34);
  color: rgb(228, 228, 228);
}

.container{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 5%;
}

input {
  font-family: 'Passion One';
  font-size: 1.2vw;
  width: 4%;
  padding: 1.2%;
  border-radius: 2.2vw;
  border-color: rgb(4, 87, 87);
  border-style: solid;
  border-width: 0.3vw;
}

.inputs{
  font-size: 2vw;
  margin: 2.5%;
}

.improvements{
  font-size: 1.75vw;
  margin-top: 3.5%;
}

.guide{
  margin-top: 1%;
  padding-right: 10%;
  padding-left: 10%;
}

#step-to-improve{
  font-size: 1.75vw;
}

#split-header{
  font-size: 2.3vw;
  margin: 0.2%;
}

#big-header{
  padding: 5%;
  font-size: 3vw;
}

#guide-for-improvement{
  font-size: 2.3vw;
  margin-top: 5%;
}

button{
  font-family: 'Passion One';
  font-size: 1.6vw;
  padding: 1.2%;
  display: inline-block;
  border-radius: 2.2vw;
  border-color: rgb(4, 87, 87);
  border-style: solid;
  border-width: 0.3vw;
}

a{
  color: rgb(4, 87, 87);
}

.bottom{
  position: fixed;
  bottom: 0;
}

.about-link{
  font-size: 1.5vw;
  margin: 100%;
}

.about-container{
  margin-top: 1%;
  padding-right: 10%;
  padding-left: 10%;
}

.about-headers{
  font-size: 3vw;
}

.about-text{
  font-size: 1.7vw;
}

.back-to-tool{
  font-size: 1.7vw;
}
