
body{
  font-family: Helvetica;
  font-style: normal;
  text-align: center;
  padding: ;
}

.container{
  position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}

input {
  width: 20%;
}

.inputs{
  font-size: 2vw;
  margin: 2.5%;
}

.improvements{
  font-size: 1.75vw;
  margin: 2.5%;
}

#split-header{
  font-size: 2.3vw;
  margin: 0.2%;
}
